<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ renderData.metadesc }}">
<meta name="theme-color" content="#6e88d0">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://seoslides.page{{page.url}}">
<meta property="og:title" content="{% if renderData.title %}{{renderData.title}}{% else %}SEOslides.page{% endif %}">
<meta property="og:description" content="The collaborative SEO conference resource.">
<meta property="og:image" content="https://seoslides.page/img/socialshare.png">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://seoslides.page{{page.url}}">
<meta property="twitter:title" content="{% if renderData.title %}{{renderData.title}}{% else %}SEOslides.page{% endif %}">
<meta property="twitter:description" content="The collaborative SEO conference resource.">
<meta property="twitter:image" content="https://seoslides.page/img/socialshare.png">
<title>{{renderData.title}}{% if renderData.title %} | {% endif %}SEOslides.page: The SEO Conference Resource</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400|Open+Sans:400,400i,600&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
<link rel="manifest" href="/meta/site.webmanifest">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158274727-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-158274727-1');
</script>
{% if page.url == '/' %}
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "972d02ab-cfd3-4f6a-bce9-18799069c0de",
      safari_web_id: "web.onesignal.auto.2a0b8f88-f61f-4cbf-954f-aff96911a546"
    });
  });
</script>
<style>
  /* Remove PWA sign up defaults. */
  .onesignal-customlink-subscribe.onesignal-customlink-subscribe.onesignal-customlink-subscribe {
    all: unset;
  }
  .onesignal-customlink-subscribe.link.small {
    font-size: unset!important;
    color: var(--accent-color)!important;
    text-decoration: none!important;
  }
  .onesignal-customlink-subscribe.link.small::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-width: 0 0 1px;
    border-style: dashed;
  }
  .onesignal-customlink-subscribe.link.small:hover{
    color:var(--text-color)!important;
  }
</style>
{% endif %}
</head>
<body>
<div id="footer-push">
<header>
<div id="logo">
<img alt="SEOslides.page Logo" src="/img/slides.svg" width="20px" height="auto" />
<a href="/">SEOslides<em>.page</em></a>
</div>
<a class="hamburger" href="#menu"></a>
<nav id="menu">
<a id="menu-nojs-close" aria-label="Close mobile menu" href="#"></a>
<a href="/talks/">Talks</a>
<a href="/conferences/">Conferences</a>
<a href="/speakers/">Speakers</a>
<a href="/contribute/">Contribute</a>
</nav>
</header>
<section id="title-card">
<div class="top-heading">{{renderData.topheading}}</div>
<h1>{{ renderData.titlecard }}</h1>
{%- if renderData.description != "null" -%}
<p>
{%- if renderData.description == "show_count" -%}
Now with <em>{{ data | size }}</em> conferences totalling <em>{% count_talks data %}</em> talks from <em>{{ speakers | size}}</em> different speakers.
{%- else -%}
{{ renderData.description }}
{%- endif %}
</p>
{%- endif -%}

<div id="icons">
{%- if renderData.twitter and renderData.twitter != '' -%}
<a target="_blank" class="icon-link twitter" style="-webkit-mask-image:url(/img/twitter.svg)" href="{{ renderData.twitter }}"></a>
{%- endif -%}
{%- if renderData.url and renderData.url != '' -%}
<a target="_blank" class="icon-link" style="-webkit-mask-image:url(/img/external_link.svg)" href="{{ renderData.url }}"></a>
{%- endif -%}
</div>
{%- if renderData.breadcrumbchild -%}
<ul class="breadcrumb">
  <li><a href="{{renderData.breadcrumbparentlink}}">{{renderData.breadcrumbparent}}</a></li>
  <li>{{renderData.breadcrumbchild}}</li>
</ul>
{%- endif -%}
</section>
{{ content | safe }}
</div>
<footer>
<nav>
<div id="footer-nav-1">
<a href="/talks/">Talks</a>
<a href="/conferences/">Conferences</a>
<a href="/speakers/">Speakers</a>
<a href="/contribute/">Contribute</a>
</div>
</nav>
<div id="copyright">Copyright © 2020 All Rights Reserved - Chris Johnson / <a href="https://www.twitter.com/defaced">@defaced</a> / <a href="https://www.bamboonine.co.uk">Bamboo Nine</a></div>
</footer>
<script src="/js/instantpage.min.js" type="module" defer></script>
</body>
</html>
