---
pagination:
    data: data
    size: 1
    alias: talk_bundle
permalink: "conferences//{{ talk_bundle.conference | slug }}/{{ talk_bundle.date }}/"
layout: template.liquid
renderData:
    title: "{{talk_bundle.conference}}{% if talk_bundle.sub_title %} - {{ talk_bundle.sub_title }}{% endif %} | {{talk_bundle.date }}"
    topheading: Conference
    titlecard: "{{talk_bundle.conference}}"
    titledesc: "{{conferencedetails[talk_bundle.conference].description}}"
    description: "{{conferencedetails[talk_bundle.conference].description}}"
    breadcrumbparent: "{{talk_bundle.conference}}"
    breadcrumbparentlink: "/conferences/{{talk_bundle.conference | slug }}"
    breadcrumbchild: "{{talk_bundle.date}}"
    url: "{{conferencedetails[talk_bundle.conference].url}}"
    metadesc: "A collaborative index of all the slides, video, and audio recordings for {{talk_bundle.conference}} ({{talk_bundle.date }})."
---
<section class="talks">
<h2>{{ talk_bundle.conference }}</a>{% if talk_bundle.sub_title %} <span>{{ talk_bundle.sub_title }}</span>{% endif %}</h2>
<div class="date">{% long_date talk_bundle.date %}</div>
{% output_talks talk_bundle.talks %}
</section>

